<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Prime Clone(Webtech Project C section)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style8.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="scripta.js"></script>
</head>
<body>
    <div class="container">
        <div class="navbar" >
          
            <a href="#home"><img src="primelogo.png" class="p"></a>
            <a href="#news"><i class="fa fa-globe g" aria-hidden="true" ></i></a>
            <div class="dropdown">
              <button class="dropbtn">EN
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">हिन्दी</a>
                <a href="#">Dansk</a>
                <a href="#">Deutsch</a>
                <a href="#">English</a>
                <a href="#">Espanol</a>
                <a href="#">Francais</a>
                <a href="#">Italian</a>
                <a href="#"></a>
                <hr class="l"> </hr>
                <div class="d1">
                  <a href="#"></a>
                  <a href="#">Norsk</a>
                  <a href="#">Polski</a>
                  <a href="#">Portuguese</a>
                  <a href="#">Suomi</a>
                  <a href="#">Svenska</a>
                  <a href="#">Turkce</a>
                  <a href="#">Pyccknn</a>
                </div>
               
             
            </div> 
           
          </div>
          <a href="#news" class="e">Sign In</a>
          </div>
          <img src="amazon_suggestion1.jpg" class="s" data-aos="flip-up">
          <p class="k" data-aos="zoom-in">Welcome to Prime Video</p>
          <p class="t">Join Prime to watch the latest movies, TV shows<br> and award-winning Amazon Originals</p>
          <button class="button button2">Login to join Prime</button>
          
    </div>
    <div class="w">
      <img src="https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/IN-Living-Room-V2._CB524587855_SY1200_FMJPG_.jpg" >
      <div class="w1">
      <p class="k2" data-aos="fade-up-left">Great Entertainment</p>
      <p class="t2">With your Prime membership, you have access to <br>exclusive Amazon Originals, blockbuster Bollywood movies, regional movies and more.</p><br><br>
      <button class="button button2" style="margin-left: 50px;">Get started</button>
      </div>

    </div>
    <div class="y">
      <img src="amazon_advantages.jpg" >
      <div class="y1">
      <p class="k3" data-aos="fade-up-right">One membership, many benefits</p>
      <p class="t3">Your Prime membership now also includes ad-free music along <br>with  unlimited free, fast delivery on eligible items, exclusive <br> access to deals & more.</p><br><br>
      <button class="button button2" >Get started</button><br>
      <p class="t4">*Visit amazon.in/prime for more details</p>
      </div>

    </div>
    <div class="z">
      <img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/video/Magellan_MLP/MLP_Template_Image_Left._SY1200_FMJPG_.jpg" >
      <div class="z1">
      <p class="k4" data-aos="fade-up-left">Even better with Fire TV Stick</p>
      <p class="t5">The biggest movies and TV shows are always better on a big <br>screen. Simply plug in your Amazon Fire TV Stick and stream on<br> any HD TV. Press the voice button on the remote and say the name <br> of the title you want to watch to find it in seconds.</p><br><br>
      <button class="button button2" style="margin-left: 740px;" >Get started</button><br>
      
      </div>

    </div>

    <div class="gr">
      <img src="primelogo.png" class="p1">
 <a href="#" style="color:rgb(39, 182, 201);margin-left: -300px;;"  ></a>
 <p style="color:#fff;margin-left: 490px;margin-top: 20px;"></p>
    </div>
    </div>
   
     
    
    <script src="script8.js"></script>
</body>
</html>